/*.footer {*/
/*    margin-top: auto; !* place as much margin between the content and the footer if not full *!*/
/*    background-color: #2b6777;*/
/*    color: #ffffff;*/
/*    padding: 2rem;*/
/*}*/

.stylist-footer{
    margin-top: auto; /* place as much margin between the content and the footer if not full */
    background-color: #F64C72;
    color: #ffffff;
    padding: 2rem;
}

.client-footer{
    margin-top: auto; /* place as much margin between the content and the footer if not full */
    background-color: #2b6777;
    color: #ffffff;
    padding: 2rem;
}

.admin-footer{
    margin-top: auto; /* place as much margin between the content and the footer if not full */
    background-color: #4056a1;
    color: #ffffff;
    padding: 2rem;
}

.admin-stylist-footer{
    margin-top: auto; /* place as much margin between the content and the footer if not full */
    background-color: #e98074;
    color: #ffffff;
    padding: 2rem;
}

.default-font{
    font-family: 'Open Sans', sans-serif;
}