body{
    background-image: url("../assets/loginback.avif");
    background-repeat: no-repeat;
}

.login {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* box shadow */
}

.mb-3{
    width: 25rem !important;
}

.icon{
    font-size: 1.5rem !important;
}