/* Services CSS */
.new-service-error-msg{
    color: red;
}

.new-service-success-msg{
    color: green;
}

.service-trash-icon svg{
    color: #ff0000;
}
.service-edit-icon svg{
    color: rgba(11, 54, 220, 0.61);
}

.services-table td:nth-child(1) {
    width:7rem;
}

.services-table td:nth-child(2) {
    width:20rem;
}

.add-new-service-b{
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    margin-bottom: 1rem;
}