.admin-stylist-homepage{
    min-height: 100vh;  /* stretch height of page to the max viewport */
    display: flex;
    flex-direction: column;
}

.admin-stylist-homepage-content{
    min-height: 100vh;
}

/* Back ground color of active pill tab */
.as-pill-colors .nav-pills .nav-link.active {
    background-color: #e98074;
    color: #ffffff;
}

/* Background color of non-active pills */
.as-pill-colors .nav-pills .nav-link {
    color: #000000;
}