/* Transaction CSS */
.transaction-trash-icon svg{
    color: #ff0000;
}

.transactions-table td:nth-child(1) {
    width:3rem;
}

.add-new-transaction-b{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-bottom: 1rem;
}