.adminHomePage{
    min-height: 100vh;  /* stretch height of page to the max viewport */
    display: flex;
    flex-direction: column;
}

.admin-homepage-content{
    min-height: 100vh;
}

/* Back ground color of active pill tab */
.admin-pill-colors .nav-pills .nav-link.active {
    background-color: #4056a1;
    color: #ffffff;
}

/* Background color of non-active pills */
.admin-pill-colors .nav-pills .nav-link {
    color: #4056a1;
}